@import "styles/mixins.scss";

.profile {
  background: #00122a;
  position: relative;
  padding: 50px 0;

  &_wrapper {
    @include direction-column;
    gap: 100px;


    @media screen and (max-width: 1000px) {
      @include direction-column;
      gap: 20px;
      align-items: center;
      justify-content: center;

      .myInfo {
        color: #fff;
        @include direction-column;
        gap: 30px;
        align-items: center;
        justify-content: center;
      }
    }

  }
}

.list{
  flex-direction: column;
  border: 2px solid red;

  .listItem{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
