@font-face {
    font-family: 'YourFontName';
    src: url('./Components//assets//fonts//Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('ttf');
    font-style: normal;  /* Adjust as needed */
  }
  
  