@import "styles/mixins.scss";

.wrapper{
    .question{
        color: #fff;
        font-size: 24px;
        font-weight: 500;
    }
    
    .answer{
        color: #fff;
        font-size: 18px;
        font-weight: 300;
    }
}